<div class="row">
  <div class="col-lg-4">
    <h2>保护密码</h2>
    <p>使用简单的数字来保护一个复杂的密码，因为数字和密码只是纯数据，所以除了你自己，没有人明白含义</p>
    <p><a class="btn btn-primary" href="#" role="button">现在开始 »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>密文传送</h2>
    <p>你想对他/她说点什么，可是你又不能直接说，告诉他一个数字就够了 </p>
    <p><a class="btn btn-primary" href="#" role="button">密文传情 »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>不可描述</h2>
    <p>薅羊毛，就看你想不想的到了</p>
    <p><a class="btn btn-primary" href="#" role="button">薅羊毛 »</a></p>
  </div>
</div>