<div class="jumbotron">
    <h1>JUST FOR YOU!</h1>
    <p class="lead">通过一个简单的有意义的数字，或者一个英文单词，一句话，来帮你记住或者传达一个秘密，只有你和你希望的人能够明白，找回上学时传纸条的青春.</p>
  </div>
<div class="row">
  <div class="col-lg-4">
    <h2>保护密码</h2>
    <p>使用简单的数字来保护一个复杂的密码，因为数字和密码只是纯数据，所以除了你自己，没有人明白含义</p>
    <p><a class="btn btn-primary" href="/password_infos" role="button">现在开始 »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>不可描述</h2>
    <p>你想对他/她说点什么不可描述的事情？<br/>告诉他一个数字就够了 </p>
    <p><a class="btn btn-primary" href="#" role="button">密文传情 »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>薅羊毛</h2>
    <p>薅羊毛，<br/>就看你想不想的到了</p>
    <p><a class="btn btn-primary" href="#" role="button">薅羊毛 »</a></p>
  </div>
</div>