# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 63d2eb82a179b81730b09f47b723379a9089c1c1ed3ec3e0810d3436d2503d4c66abd41f0d797e557c40cbe8e8f7634ec55f6a15f164e757407d2e6b9d3d2cba

test:
  secret_key_base: c9b88d1366e6a352fd9ae8d5f67d9848aa599a215ade6eee5aca05f7336ad55d2ef43728069214fe5fcf17a3f01e0a8adf26c61d77e87daa2e6223bd172caed7

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
