<!DOCTYPE html>
<html>

<head>
  <title>杭宸设计汇总</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9075504578216275",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>
  <div class="container">
    
  <h1>慕辰效果图</h1>
  <h2><a href="https://720.3vjia.com/S05535759">B3-89中间套</a></h2>
  <h2><a href="https://720.3vjia.com/S05978998">89边套</a></h2>
  <hr>
  <h1>千年舟</h1>
  <h2>89中间套</h2>
  <h2><a href="http://720.3vjia.com/S06494847?from=groupmessage" target="blank">83中间套</a></h2>
  <h2><a href="https://720.3vjia.com/S06319445?from=singlemessage" target="blank">89边套</a></h2>
  <h2><a href="https://720.3vjia.com/S06353651?from=singlemessage" target="blank">125-新中式</a></h2>
  <hr>
  <h1>百得胜</h1>
  <h2>89中间套</h2>
  <h2>89边套套</h2>
  </div>
</body>
</html>